.regist_container {
    max-width: 12.8rem;
    height: 100%;
    overflow: hidden;
    text-align: center;
    .resigt-background {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: -1;
    }
    .regist_text {
        position: relative;
        text-align: center;
        height: 1.12rem;
        font-size: .32rem;
        color: #fff;
        span {
            line-height: 1.12rem;
        }
        .registback {
            display: inline-block;
            width: .2rem;
            height: .36rem;
            position: absolute;
            top: .34rem;
            left: .38rem;
        }
    }
    label.q {
        position: fixed;
        color: #fff;
        font-size: .25rem;
        top: 1.66rem;
    }
    input.companyname {
        background-color: transparent;
        width: 4.64rem;
        height: .7rem;
        border: none;
        border-bottom: .02rem solid #ccc;
        padding-left: 1.46rem;
        margin-top: .36rem;
        color: #fff;
        font-size: .28rem;
    }
    label.j {
        position: absolute;
        color: #fff;
        font-size: .25rem;
        top: 2.72rem;
    }
    input.jnumber {
        background-color: transparent;
        width: 4.02rem;
        height: .7rem;
        border: none;
        border-bottom: .02rem solid #ccc;
        padding-left: 2.1rem;
        margin-top: .36rem;
        color: #fff;
        font-size: .25rem;
    }
    label.f {
        position: absolute;
        color: #fff;
        font-size: .25rem;
        top: 3.8rem;
    }
    input.fname {
        background-color: transparent;
        width: 2.06rem;
        height: .7rem;
        border: none;
        border-bottom: .02rem solid #ccc;
        padding-left: .9rem;
        margin-top: .36rem;
        color: #fff;
        font-size: .25rem;
    }
    label.sj {
        position: absolute;
        color: #fff;
        font-size: .25rem;
        top: 3.8rem;
    }
    input.fphonenumber {
        background-color: transparent;
        width: 1.6rem;
        height: .7rem;
        border: none;
        border-bottom: .02rem solid #ccc;
        padding-left: 1.48rem;
        margin-top: .36rem;
        color: #fff;
        font-size: .25rem;
    }
    label.z {
        position: absolute;
        color: #fff;
        font-size: .25rem;
        top: 4.88rem;
    }
    input.zname {
        background-color: transparent;
        width: 1.22rem;
        height: .7rem;
        border: none;
        border-bottom: .02rem solid #ccc;
        padding-left: 1.8rem;
        margin-top: .36rem;
        color: #fff;
        font-size: .25rem;
    }
    label.s {
        position: absolute;
        color: #fff;
        font-size: .25rem;
        top: 4.88rem;
    }
    input.zphonenumber {
        background-color: transparent;
        width: 1.6rem;
        height: .7rem;
        border: none;
        border-bottom: .02rem solid #ccc;
        padding-left: 1.48rem;
        margin-top: .36rem;
        color: #fff;
        font-size: .25rem;
    }
    label.d {
        position: absolute;
        color: #fff;
        font-size: .25rem;
        top: 5.94rem;
    }
    input.dadress {
        background-color: transparent;
        width: 5.28rem;
        height: .7rem;
        border: none;
        border-bottom: .02rem solid #ccc;
        padding-left: .9rem;
        margin-top: .36rem;
        color: #fff;
        font-size: .25rem;
    }
    .order {
        height: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        .line {
            display: inline-block;
            width: 1.66rem;
            border-top: .02rem solid #ccc;
        }
        .txt {
            color: #fff;
            vertical-align: middle;
            padding: 0 .2rem 0 .2rem;
            font-size: .25rem;
        }
    }
    input:-ms-input-placeholder {
        color: #ccc;
        font-size: .25rem;
    }
    /* Internet Explorer 10+ */
    input::-webkit-input-placeholder {
        color: #ccc;
        font-size: .25rem;
    }
    /* WebKit browsers */
    input::-moz-placeholder {
        color: #ccc;
        font-size: .25rem;
    }
    /* Mozilla Firefox 4 to 18 */
    input:-moz-placeholder {
        color: #ccc;
        font-size: .25rem;
    }
    /* Mozilla Firefox 19+ */
    .registbtn {
        background: #39D1AA;
        width: 5rem;
        margin-top: .9rem;
        font-size: .28rem;
        margin-bottom: 1rem;
    }
    .y,
    .w {
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: .02rem solid #99D3F5;
        border-radius: .08rem;
        padding: .06rem 0 .06rem 0;
        overflow: hidden;
        font-size: .24rem;
        width: 2.6rem;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: .4rem;
        margin: 0.4rem 0.12rem 0 0.12rem;
        &:hover {
            background: #AADFFD;
            border-color: #78C3F3;
            color: #004974;
            text-decoration: none;
        }
        #fileId1,
        #fileId2 {
            position: absolute;
            font-size: 2rem;
            right: 0;
            top: 0;
            opacity: 0;
        }
    }
}