.AuditsManagement_container {
    max-width: 12.8rem;
    height: 100%;
    background-size: 100% 100%;
    text-align: center;
    .AuditsManagement_text {
        position: relative;
        text-align: center;
        height: 1rem;
        font-size: .32rem;
        background: #48A4F2;
        color: #fff;
        span {
            line-height: 1rem;
        }
        .goback {
            display: inline-block;
            width: .2rem;
            height: .36rem;
            position: absolute;
            top: .3rem;
            left: .38rem;
        }
    }
    .main {
        .jodtable {
            border-top: none;
            border-collapse: collapse;
            width: 100%;
            th {
                background: #81bdef;
                color: #fff;
            }
            tr,
            td,
            th {
                border: .017778rem solid rgba(204, 204, 204, 0.74);
                border-collapse: collapse;
                padding: .142222rem .035556rem .142222rem .035556rem;
                font-size: .177778rem;
                border-left: none;
            }
            tr:nth-child(1) {
                border-top: none;
                border-left: none;
                th {
                    border-top: none;
                    border-left: none;
                }
            }
        }
        .jobx {
            border-radius: .355556rem;
            width: 2.364444rem;
            border: none;
            border: .017778rem solid rgba(204, 204, 204, 0.74);
            height: .64rem;
            margin-top: .088889rem;
            text-align: center;
            color: #ccc;
        }
        .audit,
        .look {
            font-size: .177778rem;
            width: .853333rem;
            height: .48rem;
            margin: .053333rem;
        }
    }
}