.Result3_container {
    max-width: 12.8rem;
    height: 100%;
    background-size: 100% 100%;
    text-align: center;
    .Result3_text {
        position: relative;
        text-align: center;
        height: 1rem;
        font-size: .32rem;
        background: #48A4F2;
        color: #fff;
        span {
            line-height: 1rem;
        }
        .goback {
            display: inline-block;
            width: .2rem;
            height: .36rem;
            position: absolute;
            top: .3rem;
            left: .38rem;
        }
    }
    .main {
        .notfound {
            img {
                width: 2.133333rem;
                margin-top: 1.422222rem;
            }
            p {
                font-size: .284444rem;
                margin-top: .355556rem;
                color: rgb(153, 153, 153)
            }
        }
        .pedit {
            width: 3.377778rem;
            height: .622222rem;
            margin: 0.5rem 0 0.8rem 0;
            font-size: .248889rem;
        }
    }
}