.jobManagement_container{
	max-width: 12.8rem;
	height: 100%;
	background-size:100% 100%;
	text-align: center;
	.jobManagement_text{
		position: relative;
		text-align: center;
		height: 1rem;
		font-size: .32rem;
		background:#48A4F2;
		color:#fff;
		span{
			line-height: 1rem;
		}
		.goback{
			display: inline-block;
			width: .2rem;height: .36rem;
			position: absolute;
			top: .3rem;
			left: .38rem;
		}
	}
	.main{
		text-align: center;
		.jobsearch{
			width: 100%;	
			height: 52px;
			background:#ddd;
			.jobx{
				border-radius:20px;
				width: 94px;
				border:none;
				border:1px solid #ccc;
				height: 30px;
				margin-top: 10px;
			}
			.search{
				border-radius:20px;
				font-size: 13px;
				width: 60px;height: 30px;
			}
			input,select{
				text-align: center;
				color:#ccc;
			}
			input:focus{
			    outline: none;   
			    border: 1px solid #26a2ff; 
			}
			.el-select{
				input{
					border-radius:20px;
					width: 73.5px;
					height: 32px;
				}
			}
			input:-ms-input-placeholder{color:#ccc;font-size: 13px;text-align: center;}/* Internet Explorer 10+ */ 
			input::-webkit-input-placeholder{color:#ccc;font-size: 13px;text-align: center;}/* WebKit browsers */
			input::-moz-placeholder{color:#ccc;font-size: 13px;text-align: center;}/* Mozilla Firefox 4 to 18 */ 
			input:-moz-placeholder{color:#ccc;font-size: 13px;text-align: center;}/* Mozilla Firefox 19+ */ 
		}
		.tiannjia{
			color:#26a2ff;
			font-weight: bold;
		}
		.jodtable{
			border:1px solid #ccc;
			border-collapse: collapse;
			width: 100%;
			margin-top: 20px;
			th{
				background:#81bdef;
				color:#fff;
			}
			tr,td,th{
				border:1px solid #ccc;
				border-collapse: collapse;
				padding: 8px 2px 8px 2px;
				font-size: 12px;
			}
			td{
				.s{
					background:#26a2ff;
					margin: 2px 2px 2px 2px;
				}
				.edit,.del{
						font-size: 10px;
						width: 48px;
						height: 27px;
						margin: 3px;
					}
			}
		}
		.t{
			line-height: 20px;
			font-size: 12px;
			color:#888;
			margin-top: 10px;
		}
		.jobx{
				border-radius:20px;
				width: 133px;
				border:none;
				border:1px solid #ccc;
				height: 30px;
				margin-top: 5px;
				text-align: center;
				color:#ccc;
		}
		input:focus{
			    outline: none;   
			    border: 1px solid #26a2ff; 
			}
		.search{
				border-radius:20px;
				font-size: 13px;
				width: 60px;
				height: 30px;
			}
		input:-ms-input-placeholder{color:#ccc;font-size: 13px;text-align: center;}/* Internet Explorer 10+ */ 
		input::-webkit-input-placeholder{color:#ccc;font-size: 13px;text-align: center;}/* WebKit browsers */
		input::-moz-placeholder{color:#ccc;font-size: 13px;text-align: center;}/* Mozilla Firefox 4 to 18 */ 
		input:-moz-placeholder{color:#ccc;font-size: 13px;text-align: center;}/* Mozilla Firefox 19+ */ 
		p{
			padding: 10px;
			color:#888;
			font-size: 13px;	
		}
		
	}
	.editjod{
		position: relative;
		.qymc {
            position: absolute;
            font-size: .25rem;
            top: 0.36rem;
            margin-left: .2rem;
        }
		.scompanyname {
            background-color: rgba(0, 0, 0, 0.04);
            border-radius: .1rem;
            width: 4.18rem;
            height: .66rem;
            margin-top: .2rem;
            border: none;
            border: .02rem solid rgb(220, 220, 220);
            padding-left: 1.98rem;
            font-size: .25rem;
        }
        .jyxkzh {
            position: absolute;
            font-size: .25rem;
            top: 1.27rem;
            margin-left: .2rem;
        }
        .jyxkzhname {
            background-color: rgba(0, 0, 0, 0.04);
            border-radius: .1rem;
            width: 4.65rem;
            height: .66rem;
            margin-top: .2rem;
            border: none;
            border: .02rem solid rgb(220, 220, 220);
            padding-left: 1.5rem;
            font-size: .25rem;
        }
        p{
        	.ggg{
        		margin-right: 281px;
        		margin-top: 20px;
        		display: inline-block;
        	}
        }
        .qedit{
			width: 6rem;
	        margin:0.5rem 0 0.8rem 0;
	        font-size: .28rem;
		}
	}
	.gwei{
			position: relative;
			margin: 22px 1px 5px 1px;
			padding: 6px;
			display: inline-block;
			border-radius:6px;
			background:#a5a5a5;
			font-size: 12px;
			color:#fff;
			overflow:hidden;
			.a1{
				position: absolute;
				width: 300px;
				left: -14px;
				top: -23px;
				height: 300px;
				opacity: 0;
			}
		}
		.spanActive{
			margin: 22px 1px 5px 1px;
			padding: 6px;
			display: inline-block;
			border-radius:6px;
			background:#26a2ff;
			font-size: 12px;
			color:#fff;
		}
}
