.systemConstruction_container {
    max-width: 12.8rem;
    height: 100%;
    background-size: 100% 100%;
    text-align: center;
    .systemConstruction_text {
        position: relative;
        text-align: center;
        height: 1rem;
        font-size: .32rem;
        background: #48A4F2;
        color: #fff;
        span {
            line-height: 1rem;
        }
        .goback {
            display: inline-block;
            width: .2rem;
            height: .36rem;
            position: absolute;
            top: .3rem;
            left: .38rem;
        }
    }
    .main {
        .qymc {
            position: absolute;
            font-size: .25rem;
            top: 1.37rem;
            margin-left: .2rem;
        }
        .scompanyname {
            background-color: rgba(0, 0, 0, 0.04);
            border-radius: .1rem;
            width: 4.48rem;
            height: .66rem;
            margin-top: .2rem;
            border: none;
            border: .02rem solid rgb(220, 220, 220);
            padding-left: 1.68rem;
            font-size: .25rem;
        }
        .jyxkzh {
            position: absolute;
            font-size: .25rem;
            top: 2.27rem;
            margin-left: .2rem;
        }
        .jyxkzhname {
            background-color: rgba(0, 0, 0, 0.04);
            border-radius: .1rem;
            width: 3.96rem;
            height: .66rem;
            margin-top: .2rem;
            border: none;
            border: .02rem solid rgb(220, 220, 220);
            padding-left: 2.2rem;
            font-size: .25rem;
        }
        .sfr {
            position: absolute;
            font-size: .25rem;
            top: 3.19rem;
            margin-left: .2rem;
        }
        .sfrname {
            background-color: rgba(0, 0, 0, 0.04);
            border-radius: .1rem;
            width: 5.02rem;
            height: .66rem;
            margin-top: .2rem;
            border: none;
            border: .02rem solid rgb(220, 220, 220);
            padding-left: 1.12rem;
            font-size: .25rem;
        }
        .zlfzr {
            position: absolute;
            font-size: .25rem;
            top: 4.09rem;
            margin-left: .2rem;
        }
        .zlfzrname {
            background-color: rgba(0, 0, 0, 0.04);
            border-radius: .1rem;
            width: 4.22rem;
            height: .66rem;
            margin-top: .2rem;
            border: none;
            border: .02rem solid rgb(220, 220, 220);
            padding-left: 1.94rem;
            font-size: .25rem;
        }
        .zdpzr {
            position: absolute;
            font-size: .25rem;
            top: 6.27rem;
            margin-left: .2rem;
        }
        .zdpzrname {
            background-color: rgba(0, 0, 0, 0.04);
            border-radius: .1rem;
            width: 4.22rem;
            height: .66rem;
            margin-top: .2rem;
            border: none;
            border: .02rem solid rgb(220, 220, 220);
            padding-left: 1.94rem;
            font-size: .25rem;
        }
        .dzz {
            position: absolute;
            font-size: .25rem;
            top: 4.88rem;
            margin-left: .2rem;
        }
        .dzzname {
            background-color: rgba(0, 0, 0, 0.04);
            border-radius: .1rem;
            width: 5.02rem;
            height: .9rem;
            margin-top: .2rem;
            border: none;
            border: .02rem solid rgb(220, 220, 220);
            padding-left: 1.12rem;
            font-size: .25rem;
            padding-top: .06rem;
            font-family: 'Microsoft YaHei',"Comic Sans MS","幼圆","黑体",sans-serif;
            resize:none;
        }
        .yijianbtn {
            width: 5.74rem;
            margin-top: 2.24rem;
            background: #2ab3ea;
        }
    }
}