.Incomplete_container{
	max-width: 12.8rem;
	height: 100%;
	background-size:100% 100%;
	text-align: center;
	.Incomplete_text{
		position: relative;
		text-align: center;
		height: 1rem;
		font-size: .32rem;
		background:#48A4F2;
		color:#fff;
		span{
			line-height: 1rem;
		}
		.goback{
			display: inline-block;
			width: .2rem;height: .36rem;
			position: absolute;
			top: .3rem;
			left: .38rem;
		}
	}
	.main{
		.jodtable{
			border:1px solid #ccc;
			border-top:none;
			border-collapse: collapse;
			width: 100%;
			th{
				background:#81bdef;
				color:#fff;
			}
			tr,td,th{
				border:1px solid #ccc;
				border-collapse: collapse;
				padding: 8px 2px 8px 2px;
				font-size: 11px;
			}
			tr:nth-child(1){
				border-top:none;
				th{
					border-top:none;
				}
			}
		}
		.jobx{
				border-radius:20px;
				width: 133px;
				border:none;
				border:1px solid #ccc;
				height: 36px;
				margin-top: 5px;
				text-align: center;
				color:#ccc;
		}
		.search{
				border-radius:20px;
				font-size: 14px;
				width: 60px;
				height: 36px;
			}
	}
}
