.EditPsw_container {
    max-width: 12.8rem;
    height: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
    .resigt-background {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: -1;
    }
    .EditPsw_text {
        position: relative;
        text-align: center;
        height: 1rem;
        background: #48A4F2;
        font-size: .32rem;
        color: #fff;
        margin-bottom: .142222rem;
        span {
            line-height: 1rem;
        }
        .EditPswback {
            display: inline-block;
            width: .2rem;
            height: .36rem;
            position: absolute;
            top: .34rem;
            left: .38rem;
        }
    }
    label.q {
        position: absolute;
        color: #888;
        font-size: .25rem;
        top: 1.67rem;
        left: 0.231111rem;
    }
    input.companyname {
        background-color: transparent;
        width: 5.12rem;
        height: .7rem;
        border: none;
        border-bottom: .02rem solid #ccc;
        padding-left: 1.066667rem;
        margin-top: .36rem;
        color: #888;
        font-size: .25rem;
        // text-align: center;
    }
    label.j {
        position: absolute;
        color: #888;
        font-size: .25rem;
        top: 2.74rem;
        left: 0.231111rem;
    }
    label.f {
        position: absolute;
        color: #888;
        font-size: .25rem;
        top: 3.768rem;
        left: .231111rem;
    }
    .pedit {
        width: 5.5rem;
        margin: 0.8rem 0 0.8rem 0;
        font-size: .28rem;
        height: 0.7rem;
    }
}