.RecallNote_container {
    max-width: 12.8rem;
    height: 100%;
    background-size: 100% 100%;
    text-align: center;
    .RecallNote_text {
        position: relative;
        text-align: center;
        height: 1rem;
        font-size: .32rem;
        background: #48A4F2;
        color: #fff;
        span {
            line-height: 1rem;
        }
        .goback {
            display: inline-block;
            width: .2rem;
            height: .36rem;
            position: absolute;
            top: .3rem;
            left: .38rem;
        }
    }
    .main {
        .jobsearch {
            width: 100%;
            height: .924444rem;
            .jobx {
                width: 2.328889rem;
                border: none;
                margin-top: .177778rem;
                .el-input__inner {
                    height: .568889rem;
                    border-radius: .355556rem;
                    color: #888;
                }
            }
            .search {
                border-radius: .355556rem;
                font-size: .231111rem;
                width: 1.066667rem;
                height: .533333rem;
            }
            input:focus {
                outline: none;
                border: .017778rem solid #26a2ff;
            }
            input:-ms-input-placeholder {
                color: #888;
                font-size: .195556rem;
                text-align: center;
            }
            /* Internet Explorer 10+ */
            input::-webkit-input-placeholder {
                color: #888;
                font-size: .195556rem;
                text-align: center;
            }
            /* WebKit browsers */
            input::-moz-placeholder {
                color: #888;
                font-size: .195556rem;
                text-align: center;
            }
            /* Mozilla Firefox 4 to 18 */
            input:-moz-placeholder {
                color: #888;
                font-size: .195556rem;
                text-align: center;
            }
            /* Mozilla Firefox 19+ */
        }
        .result {
            font-size: .231111rem;
            line-height: 1.6rem;
            span {
                color: red;
                font-size: .248889rem;
                font-weight: bold;
            }
        }
        .el-input,
        .el-textarea {
            width: 90%;
            margin-top: .177778rem;
            .el-input__inner {
                background-color: #fff;
                color: rgb(72, 87, 106);
                cursor: not-allowed;
                font-size: 0.195556rem;
            }
        }
        .el-textarea {
            width: 90%;
            height: 5.333333rem;
            textarea {
                height: 5.333333rem;
            }
        }
        textarea {
            font-family: 'Microsoft YaHei', "Comic Sans MS", "幼圆", "黑体", sans-serif;
            background-color: #fff;
            color: rgb(72, 87, 106);
            font-size: 0.195556rem;
        }
        .yijianbtn {
            width: 5.74rem;
            margin-top: 1.24rem;
            margin-bottom: 1.24rem;
            background: #2ab3ea;
            font-size: .248889rem;
            height: .622222rem;
        }
    }
}