.FileManagement_container {
    max-width: 12.8rem;
    height: 100%;
    background-size: 100% 100%;
    text-align: center;
    .FileManagement_text {
        position: relative;
        text-align: center;
        height: 1rem;
        font-size: .32rem;
        background: #48A4F2;
        color: #fff;
        span {
            line-height: 1rem;
        }
        .goback {
            display: inline-block;
            width: .2rem;
            height: .36rem;
            position: absolute;
            top: .3rem;
            left: .38rem;
        }
    }
    .main {
        .dsearch {
            width: 100%;
            height: 1.404444rem;
            background: #ddd;
            .fromname {
                border-radius: .355556rem;
                width: 2.755556rem;
                border: none;
                border: .017778rem solid #ccc;
                height: .533333rem;
                margin-top: .088889rem;
            }
            .timestart,
            .timeend {
                border-radius: .355556rem;
                width: 1.511111rem;
                border: none;
                height: .533333rem;
                margin-top: .088889rem;
                font-size: 0.195556rem;
            }
            .el-input.is-disabled .el-input__inner{
                 border-radius: .355556rem;
                 border: .017778rem solid #bfcbd9;
                 height: 0.533333rem;
            }
            input:disabled{
                border: .017778rem solid #bfcbd9;
                background-color:#fff;
                color:#888;
                -webkit-text-fill-color: #888;
                -webkit-opacity: 1;
            }
            .year {
                border-radius: .355556rem;
                font-size: 0.213333rem;
                width: 2.133333rem;
                height: .533333rem;
                margin-top: .088889rem;
                background: #3ade7e;
            }
            input,
            select {
                text-align: center;
                color: #ccc;
            }
            input:focus {
                outline: none;
                border: .017778rem solid #26a2ff;
            }
            .el-select {
                input {
                    border-radius: .355556rem;
                    width: 2.755556rem;
                    height: .533333rem;
                    font-size: 0.195556rem;color:#888;
                }
            }
            input:-ms-input-placeholder {
                color: #888;
                font-size: .195556rem;
                text-align: center;
            }
            /* Internet Explorer 10+ */
            input::-webkit-input-placeholder {
                color: #888;
                font-size: .195556rem;
                text-align: center;
            }
            /* WebKit browsers */
            input::-moz-placeholder {
                color: #888;
                font-size: .195556rem;
                text-align: center;
            }
            /* Mozilla Firefox 4 to 18 */
            input:-moz-placeholder {
                color: #888;
                font-size: .195556rem;
                text-align: center;
            }
            /* Mozilla Firefox 19+ */
        }
        .jodtable {
            border: .017778rem solid #ccc;
            border-top: none;
            border-collapse: collapse;
            width: 100%;
            margin-top: .888889rem;
            th {
                background: #81bdef;
                color: #fff;
            }
            tr,
            td,
            th {
                border: .017778rem solid #ccc;
                border-collapse: collapse;
                padding: .142222rem .035556rem .142222rem .035556rem;
                font-size: .195556rem;
            }
            tr:nth-child(1) {
                border-top: none;
                th {
                    border-top: none;
                }
                .cao {
                    width: 2.791111rem;
                }
                td {
                    .edit,
                    .print,
                    .del {
                        font-size: .177778rem;
                        width: .853333rem;
                        height: .48rem;
                    }
                }
            }
        }
    }
    .search {
        border-radius: .355556rem;
        font-size: 0.213333rem;
        width: 1.511111rem;
        height: .533333rem;
    }
}