.Result2_container {
    max-width: 12.8rem;
    height: 100%;
    background-size: 100% 100%;
    text-align: center;
    .Result2_text {
        position: relative;
        text-align: center;
        height: 1rem;
        font-size: .32rem;
        background: #48A4F2;
        color: #fff;
        span {
            line-height: 1rem;
        }
        .goback {
            display: inline-block;
            width: .2rem;
            height: .36rem;
            position: absolute;
            top: .3rem;
            left: .38rem;
        }
    }
    .main {
        .notfound {
            .pedit {
                width: 3.377778rem;
                height: .622222rem;
                margin: 0.5rem 0 0.8rem 0;
                font-size: .248889rem;
            }
        }
    }
}