.SendNotice_container {
    max-width: 12.8rem;
    height: 100%;
    background-size: 100% 100%;
    text-align: center;
    .SendNotice_text {
        position: relative;
        text-align: center;
        height: 1rem;
        font-size: .32rem;
        background: #48A4F2;
        color: #fff;
        span {
            line-height: 1rem;
        }
        .goback {
            display: inline-block;
            width: .2rem;
            height: .36rem;
            position: absolute;
            top: .3rem;
            left: .38rem;
        }
    }
    .main {
        text-align: center;
        .jobsearch {
            width: 100%;
            height: .924444rem;
            background: #ddd;
            .jobx {
                width: 131px;
                border: none;
                margin-top: .177778rem;
                .el-input__inner {
                    height: .568889rem;
                    border-radius: .355556rem;
                    color:#888;
                }
            }
            .search {
                border-radius: .355556rem;
                font-size: .231111rem;
                width: 1.066667rem;
                height: .533333rem;
            }
            input:focus {
                outline: none;
                border: .017778rem solid #26a2ff;
            }
            input:-ms-input-placeholder {
                color: #888;
                font-size: .195556rem;
                text-align: center;
            }
            /* Internet Explorer 10+ */
            input::-webkit-input-placeholder {
                color: #888;
                font-size: .195556rem;
                text-align: center;
            }
            /* WebKit browsers */
            input::-moz-placeholder {
                color: #888;
                font-size: .195556rem;
                text-align: center;
            }
            /* Mozilla Firefox 4 to 18 */
            input:-moz-placeholder {
                color: #888;
                font-size: .195556rem;
                text-align: center;
            }
            /* Mozilla Firefox 19+ */
        }
        
        .jodtable {
            border: .017778rem solid #ededed;
            border-top: none;
            border-left: none;
            border-right: none;
            border-collapse: collapse;
            width: 100%;
            margin-top: .355556rem;
            tr,
            td,
            th {
                border: .017778rem solid #ededed;
                border-collapse: collapse;
                padding: .142222rem .035556rem .142222rem .035556rem;
                font-size: .213333rem;
            }
            th {
                background: #81bdef;
                color: #fff;
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }
    }
    .send{
        width: 316px;
        height: 34px;
        font-size: 13px;
        margin: 50px 0  50px 0;
        background:#2ab3ea;
    }
}