.AddProduct_container {
    max-width: 12.8rem;
    height: 100%;
    overflow: hidden;
    text-align: center;
    .resigt-background {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: -1;
    }
    .AddProduct_text {
        position: relative;
        text-align: center;
        height: 1rem;
        background: #48A4F2;
        font-size: .32rem;
        color: #fff;
        margin-bottom: .142222rem;
        span {
            line-height: 1rem;
        }
        .AddProductback {
            display: inline-block;
            width: .2rem;
            height: .36rem;
            position: absolute;
            top: .34rem;
            left: .38rem;
        }
    }
    .mint-tab-item {
        z-index: 1;
    }
    .title {
        margin-top: .355556rem;
        font-size: .248889rem;
        margin-bottom: .355556rem;
    }
    .el-select {
        width: 4.355556rem;
    }
    .el-form-item {
        margin-bottom: .17rem;
        margin-right: .355556rem;
        input:disabled {
            border: .01rem solid #bfcbd9;
            background-color: #fff;
            color: rgb(72, 87, 106);
            -webkit-text-fill-color: rgb(72, 87, 106);
            -webkit-opacity: 1;
        }
    }
    .el-form-item__label {
        font-size: .195556rem;
    }
    .pedit {
        width: 5.5rem;
        margin: 0.8rem 0 0.8rem 0;
        font-size: .28rem;
    }
    .t {
        text-align: left;
        .hez {
            display: inline-block;
            margin-top: .142222rem;
            margin-left: .782222rem;
            margin-right: .355556rem;
            font-size: .213333rem;
        }
        .bz,
        .bq {
            display: inline-block;
            margin-top: .142222rem;
            margin-left: .995556rem;
            margin-right: .355556rem;
            font-size: .213333rem;
        }
        .wx {
            display: inline-block;
            margin-top: .142222rem;
            margin-bottom: .266667rem;
            margin-left: .142222rem;
            margin-right: .355556rem;
            font-size: .213333rem;
        }
    }
    .bac {
        width: 100%;
        height: .17rem;
        background: #eee;
    }
    .up {
        margin-bottom: .444444rem;
    }
    .yy {
        text-align: left;
        margin-left: -4.32rem;
        font-size: .213333rem;
    }
    .yy1 {
        display: inline-block;
        margin: .284444rem 0 .284444rem 0;
        text-align: left;
        margin-left: -4.32rem;
        font-size: .213333rem;
    }
    .avatar-uploader .el-upload {
        border: .01rem dashed #d9d9d9;
        border-radius: .106667rem;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-bottom: .17rem;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #20a0ff;
    }
    .avatar-uploader-icon {
        font-size: .49rem;
        color: #8c939d;
        width: 1.77rem;
        height: 1.77rem;
        line-height: 1.77rem;
        text-align: center;
    }
    .avatar {
        width: 1.77rem;
        height: 1.77rem;
        display: block;
    }
    .pz {
        margin-top: .088889rem;
        margin-bottom: .17rem;
        text-align: left;
        font-size: .231111rem;
        span {
            font-size: .231111rem;
            color: #48A4F2;
            transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            /* IE 9 */
            -moz-transform: rotate(90deg);
            /* Firefox */
            -webkit-transform: rotate(90deg);
            /* Safari 和 Chrome */
            -o-transform: rotate(90deg);
        }
    }
}