.index_container {
    max-width: 12.8rem;
    height: 100%;
    background-size: 100% 100%;
    overflow-y: scroll;
    text-align: center;
    .mmm {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.24);
        ;
        position: fixed;
        top: 0;
        z-index: 5;
    }
    .mmm1 {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.24);
        ;
        position: fixed;
        top: 0;
        z-index: 2;
    }
    .person {
        width: .4rem;
        position: absolute;
        top: .34rem;
        right: .4rem;
        z-index: 6;
    }
    .all {
        z-index: 5;
        position: relative;
        .menu {
            ul {
                position: absolute;
                right: .2rem;
                top: .88rem;
                width: 2.2rem;
                height: 1.4rem;
                background: #fff;
                border: .01rem solid rgba(204, 204, 204, 0.74);
                border-top: 0;
                box-shadow: 0 .04rem .1rem #ccc;
                z-index: 10;
                li {
                    float: left;
                    width: 100%;
                    height: .7rem;
                    overflow: hidden;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    /* Firefox */
                    -webkit-box-sizing: border-box;
                    /* Safari */
                    text-align: center;
                    line-height: .7rem;
                    &:nth-child(1) {
                        border-bottom: .01rem solid #ccc;
                    }
                    &:hover {
                        background: #ebebeb;
                    }
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        color: #888;
                        position: relative;
                        left: .3rem;
                        font-size: .24rem;
                        .edit,
                        .exit {
                            position: absolute;
                            left: .12rem;
                            top: .2rem;
                            font-size: .24rem;
                        }
                    }
                }
            }
        }
        .jian {
            position: absolute;
            right: .35rem;
            top: .8rem;
            width: .32rem;
            height: .32rem;
            border: .01rem solid rgba(204, 204, 204, 0.74);
            background: #fff;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -moz-transform: rotate(45deg);
            /* Firefox */
            -webkit-transform: rotate(45deg);
            /* Safari 和 Chrome */
            -o-transform: rotate(45deg);
            /* Opera */
            z-index: 5;
        }
    }
.all1 {
        z-index: 5;
        position: relative;
        .menu1 {
            ul {
                position: absolute;
                right: 32%;
                top: -.12rem;
                width: 2.2rem;
                background: #fff;
                border: .01rem solid rgba(204, 204, 204, 0.74);
                border-top: 0;
                box-shadow: 0 .04rem .1rem #ccc;
                z-index: 10;
                list-style: none;
                li {
                    list-style: none;
                    float: left;
                    width: 100%;
                    height: .7rem;
                    overflow: hidden;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    /* Firefox */
                    -webkit-box-sizing: border-box;
                    /* Safari */
                    text-align: center;
                    line-height: .7rem;
                    border-bottom: .01rem solid #ccc;
                    &:nth-last-child(0) {
                        border-bottom: none;
                    }
                    &:hover {
                        background: #ebebeb;
                    }
                    color: #888;
                    font-size: 0.195556rem;
                }
            }
        }
        .jian1 {
            position: absolute;
            right: 47%;
            top: -.2rem;
            width: .32rem;
            height: .32rem;
            border: .01rem solid rgba(204, 204, 204, 0.74);
            background: #fff;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -moz-transform: rotate(45deg);
            /* Firefox */
            -webkit-transform: rotate(45deg);
            /* Safari 和 Chrome */
            -o-transform: rotate(45deg);
            /* Opera */
            z-index: 5;
        }
    }
    .index_text {
        position: relative;
        text-align: center;
        height: 1rem;
        font-size: .32rem;
        background: #48A4F2;
        color: #fff;
        z-index: 2;
        span {
            line-height: 1rem;
            z-index:10;
        }
    }
    .el-icon-message {
        color: #fff;
        font-size: .355556rem;
        position: absolute;
        z-index: 3;
        top: .32rem;
        left: .408889rem;
    }
    .num {
        display: inline-block;
        width: .266667rem;
        height: .266667rem;
        font-size: .177778rem;
        position: absolute;
        z-index: 4;
        background: red;
        color: #fff;
        border-radius: .266667rem;
        text-align: center;
        line-height: .266667rem;
        left: .213333rem;
        top: -.142222rem;
    }
}

.mchli li {
    width: 50%;
    float: left;
    box-sizing: border-box;
    color: #888;
    font-size: .24rem;
    height: 1.72rem;
    position: relative;
}

.mchli li:hover {
    background: #e3e3e3;
    color: #333;
}

.mchli li:nth-child(even) {
    border-right: .01rem solid #E5E5E5;
    border-bottom: .01rem solid #E5E5E5;
}

.mchli li:nth-child(odd) {
    border-bottom: .01rem solid #E5E5E5;
}

.mchli li img {
    display: inline-block;
    width: .66rem;
    height: auto;
    margin: .2rem 0 .1rem 0;
}

.mchli li img.indeximg1 {
    display: inline-block;
    width: .48rem;
    height: auto;
    margin: .28rem 0 .1rem 0;
}

.mchli li img.indeximg2 {
    display: inline-block;
    width: .66rem;
    height: auto;
    margin: .34rem 0 .1rem 0;
}

.mchli li img.indeximg3 {
    display: inline-block;
    width: .66rem;
    height: auto;
    margin: .3rem 0 .1rem 0;
}

.mchli li img.indeximg4 {
    display: inline-block;
    width: .66rem;
    height: auto;
    margin: .2rem 0 .1rem 0;
}

.mchli li img.indeximg5 {
    display: inline-block;
    width: .66rem;
    height: auto;
    margin: .34rem 0 .1rem 0;
}

.mchli li img.indeximg6 {
    display: inline-block;
    width: .66rem;
    height: auto;
    margin: .38rem 0 .1rem 0;
}

.mchli li img.indeximg7 {
    display: inline-block;
    width: .74rem;
    height: auto;
    margin: .3rem 0 .1rem 0;
}

.mchli li img.indeximg8 {
    display: inline-block;
    width: .66rem;
    height: auto;
    margin: .3rem 0 .1rem 0;
}

.mchli li img.indeximg9 {
    display: inline-block;
    width: .66rem;
    height: auto;
    margin: .32rem 0 .1rem 0;
}

.mchli li img.indeximg10 {
    display: inline-block;
    width: .66rem;
    height: auto;
    margin: .22rem 0 .1rem 0;
}

.mchli li img.indeximg14 {
    display: inline-block;
    width: .66rem;
    height: auto;
    margin: .4rem 0 .1rem 0;
}

.mchli li img.indeximg11 {
    display: inline-block;
    width: .66rem;
    height: auto;
    margin: .28rem 0 .1rem 0;
}

.mchli li img.indeximg12 {
    display: inline-block;
    width: .66rem;
    height: auto;
    margin: .3rem 0 .1rem 0;
}

.mchli li img.indeximg13 {
    display: inline-block;
    width: .66rem;
    height: auto;
    margin: .2rem 0 .1rem 0;
}

.mchli li.bott {
    width: 50%;
}

.mchli li:nth-last-child(odd) {
    border-left: .01rem solid #E5E5E5;
}