.remind_container {
    max-width: 12.8rem;
    height: 100%;
    background-size: 100% 100%;
    text-align: center;
    .remind_text {
        position: relative;
        text-align: center;
        height: 1rem;
        font-size: .32rem;
        background: #48A4F2;
        color: #fff;
        span {
            line-height: 1rem;
        }
        .goback {
            display: inline-block;
            width: .2rem;
            height: .36rem;
            position: absolute;
            top: .3rem;
            left: .38rem;
        }
    }
    .main {
        .psearch {
            width: 100%;
            height: .924444rem;
            background: #ddd;
            .jobx {
                width: 1.635556rem;
                height: .64rem;
                margin-top: .124444rem;
                text-align: center;
                display: inline-block;
                .el-input__inner {
                    border-radius: .355556rem;
                    width: 1.635556rem;
                    height: .64rem;
                    text-align: center;
                    color: #666;
                }
            }
            .search {
                border-radius: .355556rem;
                font-size: .248889rem;
                width: 1.066667rem;
                height: .64rem;
                border: none;
                margin-top: .124444rem;
            }
        }
        .ti {
            margin-top: .355556rem;
            font-size: .213333rem;
            color: red;
        }
        .el-select {
            input {
                border-radius: .088889rem;
                color: rgb(72, 87, 106);
                border: .017778rem solid #bfcbd9;
            }
        }
        input:disabled {
            border: .017778rem solid #bfcbd9;
            background-color: #fff;
            color: rgb(72, 87, 106);
            -webkit-text-fill-color: rgb(72, 87, 106);
            -webkit-opacity: 1;
        }
        .el-input__inner {
            background: #fff;
            color: #000;
            width: 4.746667rem;
            font-size: .231111rem;
            color: #666;
        }
        .rtips {
            display: inline-block;
            margin-top: .355556rem;
            font-size: .213333rem;
            color: #48A4F2;
            line-height: .533333rem;
            margin-bottom: .355556rem;
        }
        .qedit {
            margin: .728889rem 0;
            font-size: .248889rem;
            width: 5.6rem;
            height: .64rem;
        }
    }
}

input:focus {
    outline: none;
    border: .017778rem solid #26a2ff;
}

input:-ms-input-placeholder {
    color: #ccc;
    font-size: .231111rem;
    text-align: center;
}


/* Internet Explorer 10+ */

input::-webkit-input-placeholder {
    color: #ccc;
    font-size: .231111rem;
    text-align: center;
}


/* WebKit browsers */

input::-moz-placeholder {
    color: #ccc;
    font-size: .231111rem;
    text-align: center;
}


/* Mozilla Firefox 4 to 18 */

input:-moz-placeholder {
    color: #ccc;
    font-size: .231111rem;
    text-align: center;
}


/* Mozilla Firefox 19+ */