.listtable {
    border: .017778rem solid rgba(204, 204, 204, 0.74);
    border-left: none;
    border-top: none;
    border-right: none;
    border-collapse: collapse;
    width: 100%;
    height: auto;
    background: #f4f4f4;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    tr,
    td {
        border: .017778rem solid rgba(204, 204, 204, 0.74);
        border-collapse: collapse;
        padding: .142222rem .035556rem .142222rem .088889rem;
        font-size: .195556rem;
        border-left: none;
        border-top: none;
        box-sizing: border-box;
        text-align: left;
        -moz-box-sizing: border-box;
        /* Firefox */
        -webkit-box-sizing: border-box;
        /* Safari */
    }
    tr {
        height: 1.457778rem;
        td {
            height: 1.457778rem;
            .yes {
                font-size: .213333rem;
                margin: .053333rem;
                width: .711111rem;
                height: .444444rem;
                background: #a0a0a0;
            }
            .yesActive {
                font-size: .213333rem;
                margin: .053333rem;
                width: .711111rem;
                height: .444444rem;
                background: #3696ff;
            }
            .yesActive1 {
                font-size: .213333rem;
                margin: .053333rem;
                width: .711111rem;
                height: .444444rem;
                background: rgb(247, 51, 51);
            }
        }
    }
    tr:nth-child(1) {
        border-top: none;
        th {
            border-top: none;
        }
    }
}